@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import './variable';
@import './components/all';

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	color: $black;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

.page__wrap {
	background-color: $lightPink;
	height: 100vh;
}

.chat {
	width: 1010px;
	height: 98%;
	margin: 0 auto;
	background: $white;
	box-shadow: 0px 0px 6px 1px $gray;
	&__content {
		height: calc(100% - 70px);
		display: flex;
	}
}

.dialog__bar {
	height: 100%;
}

.messages__bar {
	height: 100%;
}

::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-track {
	background: $lightGray;
	box-shadow: inset 0 0 5px $lightGray;
}
::-webkit-scrollbar-thumb {
	background: $pink;
	border-radius: 10px;	
}
::-webkit-scrollbar-thumb:hover {
	background: $darkPink;
	border-radius: 10px;
}
